[project]
	description = Storage Performance Development Kit
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/optimistyzy
[access "refs/for/refs/*"]
	read = group user/optimistyzy
	push = group user/optimistyzy
	label-Code-Review = -2..+2 group user/optimistyzy
	label-Verified = -1..+1 group user/optimistyzy
	rebase = group user/optimistyzy
	removeReviewer = group user/optimistyzy
	submit = group user/optimistyzy
[access "refs/heads/*"]
	read = group user/optimistyzy
	create = group user/optimistyzy
	push = +force group user/optimistyzy
	pushMerge = group user/optimistyzy
[access "refs/tags/*"]
	push = group user/optimistyzy
	push = +force group user/optimistyzy
